a{
text-decoration: none;
color: #2F4F4F
}
body.serif {
   font-family: Times, Times New Roman, serif;
	background-color: #212121;
	background-image: url("fond.jpeg");
}
h1 { 
 font-size: 100px;
}

P {
 font-size: 20px;
}
a:hover {
text-decoration: none;
   color: green;
   font-style: italic;
}
h2 {
	font-size: 40px;
}